*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


.container-left{
    display: inline-block;
    width: 50%;
}

a{
    width: 83px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 32px;
    cursor: pointer;
}

button{
     width: 125px;
    height: 51px;
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background: #44ff1f;
    margin-left: 32px;
    margin-top: 47px;
    color: #ffffff;
    cursor: pointer;
}


header{
    margin-left: 14px;
    height: 110px;
}

img{
    width: 460px;
    height: 430px;
    margin-left: 85px; 
    margin-top: 80px;
}


.container-right{
    display: inline-block;
    width: 45%;
    
}




h1{
    width: 582px;
    height: 164px;
    font-weight: 700;
    font-size: 62px;
}

p{
    width: 493px;
    height: 99px;
    font-weight: 400;
    margin-top: 47px;
    font-size: 18px;
}

.botao-cta{
    width: 112px;
    margin-top: 55px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    color: #44ff1f;
    margin-left: 0;
    cursor: pointer;
}

button:hover{
    opacity: .7;
}

button:active{
    opacity: .3;
}


a:hover{
    opacity: .7;
}

a:active{
    opacity: .3;
}

@media screen and (max-width: 900px) {
        
    a{
        display: none;
    }

    .container-left{
        display: block;
        max-width: 412px;
        
    }

    .container-right{
        display: block;
        max-width: 412px;
        height: 350px;
        margin-top: 80px;
    }
        
    h1{
        text-align: center;
        width: 278px;
        height: 60px;
        font-weight: 700;
        font-size: 30px;
        margin-left: 43px;
        
    }
 
    p{
        text-align: center;
        width: 304px;
        height: 165px;
        font-size: 18px;
        margin-left: 43px;
        
    }

    img{
        max-width: 312px;
        height: 288px;
        margin-left: 42px;
        margin-top: 424px;
        position: absolute;

    }
    
    .div-pai{
        width: 100vw;
        height: 100vh;
    }

    header{
        height: 70px;
        max-width: 412px;
        margin: 0;
    }

    .botao-cta{
        display: block;
        text-align: center;
        margin-left: 130px;
        margin-top: 0;

    }

    button{
        margin-left: 250px;
        margin-top: 14px;
    }

}



